@import "../Theme";

.headingStub {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 2.5rem;
  flex-direction: row;
  align-items: center;
  background-color: lighten($bg, 20);
  margin: 0;
  padding: 0;
}

.icon {
  padding: 0 1rem;
  align-self: center;
}
