@import "../Theme";
@import "SongCard.theme";

.player {
  @include gridItem;
  grid-area: player;
}

.heading {
  align-self: center;
  flex: 1;
}

.songCard {
  $size: 7rem;
  display: grid;
  grid-template-areas: "cover title" "cover info" "cover progress";
  grid-column-gap: 1rem;
  grid-row-gap: .1rem;
  grid-template-columns: $size 1fr;
  margin: 1rem;
  height: $size;

  &:hover {
    background-color: #333333;
  }
}

.coverArt {
  grid-area: cover;
}

.title {
  grid-area: title;
}

.infoLine {
  grid-area: info;
}

.playPause, .next {
  align-self: center;
  margin: 0 .5rem 0 0;
  width: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    margin: 0 .5rem;
  }
  @include button($text, $bg);
}

.progress {
  display: flex;
  grid-area: progress;
  flex-direction: row;
  align-items: center;
}

.seek {
  @include slider(cornflowerblue, .5rem);
  grid-area: progress;
  margin: 0 1rem;
}

.controllable {

}